@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700);

$lato: 'Lato', Arial, sans-serif;
$green: #009688;
$white: rgba(255,255,255,.87);
$black: rgba(0,0,0,.87);
$bg-fade: linear-gradient(#009688,#0097a7);


//reset
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//base
body {
    font: 1rem $lato;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    padding: .5em;
    justify-content: space-between;
    color: white;
    align-items: center;
    background: $green;
    #logo {
        height: 2.5em;
    }
    #menu-toggle {
        font-size: 2.5em;
        text-decoration: none;
        font-weight: 100;
        color: white;
        background: none;
        border: none;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
}

#menu {
    position: fixed;
    top: 0;
    right:-75%;
    height: 100%;
    width: 75%;
    background: rgb(33,33,33);
    box-shadow: inset 1em 0 2em rgba(0,0,0,.25), .5em 0 .5em rgba(0,0,0,.22);
    ul {
        list-style: none;
        justify-content: center;
        text-align: left;
        li{
            padding: 1em;
            border-bottom: .1em solid rgba(0,0,0,.5);
            transition: 0;
            &:hover {
                background: rgba(255,255,255,.1);
                transition: .5s;
                cursor: pointer;
            }
            &:active {
                background: rgba(0,0,0,.3);
                transition: .1s;
            }
        }
        a {
            font: 1em $lato;
            color: white;
            text-decoration: none;
        }
    }
    #icons {
        display: flex;
        justify-content: space-between;
        border-bottom: .1em solid rgba(0,0,0,.5);
        a{
            border-bottom: none;
            text-align: center;
            width: 33%;
            text-decoration: none;
            li{
                border-bottom: none;
                width: 100%;
                img {
                    height: 2em;
                }
            }
        }
    }
}

.selected {
    background: rgba(255,255,255,.05);
    border-right: .5em solid $green;
    transition: 0s;
}

.open{
    transform:translate3d(0,0,0);
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

#welcome {
    position: relative;
    background: $bg-fade;
    margin-top: 3.5em;
    width: 100%;
    color: white;
    text-align: center;
    h1, h3 {
        opacity: .87;
    }
    h1 {
        font-weight: 400;
        span {
            font-size: 125%;
        }
    }
    h3 {
        font-weight: 300;
    }
    
}

/*svg*/
#poly {
    width: 100%;
    margin: auto;
    svg {
        opacity: .6;
        polygon {
            fill: white;
            stroke: #E1BEE7;
            stroke-width:2;
        }
    }
}

.dark {
    fill-opacity: .25;
    stroke-opacity:.9;
}

.light {
    fill-opacity: .5;
    stroke-opacity: 1;
}


#bio {
    color: $black;
    padding: 1em;
    background: white;
    p {
        padding: .5em 0;
    }
}

#experience {
    color: $white;
    background: $green;
    padding: 1em;
}

#contact {
    background: $green;
    padding: 1em;
    input, textarea {
        padding: .5em;
        display: block;
        width: 75%;
        margin: 1em auto;
        border: none;
        border-radius: none;
    }
    textarea{
        height: 5em;
        resize: none;
    }
    #cta {
        color: $white;
        font-weight: 400;
        font-size: 1em;
        background: rgba(255,255,255,.25);
        transition: .5s;
        width: auto;
        padding: .5em 2em;
        &:hover{
            background: rgba(255,255,255,.5);
            cursor: pointer;
        }
    }
}
