#bio-cont {
  background: $bg7;
  padding: 1em;
  color: $white;
  @media (min-width: 720px) {
    padding: 1em 15%;
  }
  @media (min-width: 900px) {
    padding: 1em 20%;
  }
  @media (min-width: 1080px) {
    padding: 1em 25%;
  }
  a {
    color: $teal;
    text-decoration: none;
    transition: .3s ease-out;
    &:hover {
      color: lighten($teal,20%);
    }
  }
  p {
    color: rgba(white, .6);
    font-weight: 300;
    padding: .25em 0;
    text-indent: 2em;
  }
  h3 {
    font-style: italic;
    font-weight: 300;
    margin-top: 1em;
  }
  .expand-container {
    text-align: right;
  }
  #expand {
    font-style: italic;
    color: $teal;
    font-weight: 300;
    transition: .3s;
    &:hover, &:focus, &:active {
      cursor: pointer;
      color: lighten($teal, 20%);
    }
  }
}
