$lato: 'Lato', 'Arial', sans-serif;


/* $green: rgb(0, 150, 136);
$aGreen: #00BFA5;
$blue: rgb(0, 188, 212);
$cyan: rgb(0, 151, 167);
$black: rgba(0,0,0,.87);
$bg-fade: linear-gradient($green,$blue);
$blue-grey: #263238;
$bg50: rgb(236, 239, 241);
$bg7: rgb(69, 90, 100);
$bg9: rgb(38, 50, 56);
$purple: rgb(224, 64, 251); */


$bg7:#455A64;
$bg8:#37474F;
$bg9:#263238;
$teal:#1DE9B6;

$cyan: #00b8d4;
$purp: #B388FF;

$red: #E57373;
$blue: #64B5F6;

$white: rgba(255,255,255,.7);